<!DOCTYPE html>
<html lang="en" style="--primary: <%= primary_colour(@conn, @view_module) %>; --secondary: <%= secondary_colour(@conn, @view_module) %>; --tertiary: <%= tertiary_colour(@conn, @view_module) %>; --quaternary: <%= quaternary_colour(@conn, @view_module) %>; --quinary: <%= quinary_colour(@conn, @view_module) %>; --font: <%= font(@conn, @view_module) %>">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title></title>
    <!-- <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/> -->
    <!-- <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/receipts.css") %>"/> -->
    <link rel="stylesheet" media="all" type="text/css"  href="https://app.davos.gives/css/receipts.css" />
    <link rel="stylesheet" media="all" type="text/css"  href="https://app.davos.gives/css/app.css" />

  </head>
  <body>
    <main role="main">
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
  <footer>
  <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Cardo" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=PT+Serif" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  </footer>
</html>
